@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.signupnav {
    width: 99vw;
    height: 8vh;
    background-color: #5889BD;
    display: flex;
    align-items: center;
    position: relative; /* Allows absolute positioning of title */
    /* Adds spacing */
}

.signupnav h2 {
    margin: 0;
    color: white;
}

.signupnav .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.SignUp {
    background-color: white;
}

.patienthero{
    background: linear-gradient(106deg, #5889BD 0.82%, #99C6DB 101.41%);
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.patienttest{
    width: 99vw;
    align-content: center;
    padding-top: 4vh;
    padding-bottom: 4vh;
    background: linear-gradient(106deg, #5889BD 0.82%, #99C6DB 101.41%);
    
}



.horizontal-bar {
    
    display: flex !important;
}

.labels, .labels2 {
    display: flex;
    font-size: 25px;
    padding-bottom: 25px;
    
}

.labels input{
    display: flex;
    padding-left: 5px;
    border-radius: 23px;
    text-align: center;

}

label {
    width: 140px;
    height: 35px;
    opacity: 0.49;
    background-color: #D9D9D9;
    
    border-top-left-radius: 23px;
    text-align: center;
}

.dob-label {
    width: 85px;
    height: 35px;
    opacity: 0.49;
    background-color: #D9D9D9;
    
    border-top-left-radius: 23px;
    text-align: center;
    font-size: 25px;
    
}

.form-control-dob{
    display: flex;
    padding-left: 5px;
    border-radius: 23px;
    width: 100px;
    height: 35px;
    text-align: center;
}



.gender-label {
    width: 100px;
    height: 35px;
    opacity: 0.49;
    background-color: #D9D9D9;
    
    border-top-left-radius: 23px;
    text-align: center;
    font-size: 25px;
}

.form-control-gender{
    display: flex;
    padding-left: 5px;
    border-radius: 23px;
    width: 100px;
    height: 35px;
    text-align: center;
}

.basic-info, .pharmacy-info {
    display: inline;
    
    
}
.info-container {
    display: flex;
    justify-content: space-between; /* Pushes left and right sections apart */
    width: 80vw; /* Adjust width of the container */
    gap: 5vw; /* Adds space between Basic Info & Pharmacy Info */
}

.pharm-address{
    width: 225px;
    height: 35px;
    opacity: 0.49;
    background-color: #D9D9D9;
    
    border-top-left-radius: 23px;
    text-align: center;
    font-size: 25px;
}

.pharm-name {
    width: 200px;
    height: 35px;
    opacity: 0.49;
    background-color: #D9D9D9;
    
    border-top-left-radius: 23px;
    text-align: center;
    font-size: 25px;
}

.form-control-add {
    display: flex;
    padding-left: 5px;
    border-radius: 23px;
    width: 200px;
    height: 35px;
    text-align: center;
}


/*---------------------------------------
This is the Medical Info section
----------------------------------------*/
.medical-header {
    text-align: center !important;
    text-decoration: underline;
    padding-bottom: 25px;
    margin-top: 10px;
    
}




.labels2 label{
    display: flex;
    font-size: 25px;
    padding-bottom: 25px;
    background-color: #5889BD;
    text-align: center;
    justify-content: center; /* Horizontally centers text */
    color: black;
    opacity: 0.70;


 
}

.labels2 input{
    display: flex;
    padding-left: 5px;
    border-radius: 23px;
    text-align: center;

}

.healthinfo {
    display: flex;
    text-align: center;

}

.horizontal-bar2 {
    display: flex !important;
    padding-left: 50px;
}

.active-label {
    width: 250px;
    height: 35px;
    opacity: 0.49;
    background-color: #D9D9D9;
    
    border-top-left-radius: 23px;
    text-align: center;
    font-size: 25px;

}


.form-control-active {
    display: flex;
    padding-left: 5px;
    border-radius: 23px;
    width: 200px;
    height: 35px;
    text-align: center;
    
}

.goal-label {
    width: 200px;
    height: 35px;
    opacity: 0.49;
    background-color: #D9D9D9;
    
    border-top-left-radius: 23px;
    text-align: center;
    font-size: 25px;

}


table {
    width: 100%;
    border-collapse: collapse; /* Ensures borders do not double up */
    border: 2px solid black; /* Adds a border to the table */
}

th, td {
    border: 1px solid black; /* Adds borders to table cells */
    padding: 10px; /* Adds spacing inside the cells */
    text-align: left; /* Aligns text to the left */
}

th{
text-align: center; /* Centers text horizontally */
font-size: 18px; /* Adjusts font size */
padding: 10px; /* Adds spacing */
}


.table-container {
    display: flex; /* Enables flexbox */
    width: 100%; /* Ensures it takes full width */
    flex-wrap: wrap; /* Allows tables to wrap if needed on smaller screens */
    margin-bottom: 50px;
}

.table-container table {
    width: 100%; /* Adjust width to fit two tables side by side */
}
.medic-info, .diet-info {
    display: inline;
    padding-left: 100px;

}

table {
    border-collapse: collapse; /* Ensures borders do not double up */
    border: 2px solid black; /* Adds a border to the table */
}

th, td {
    border: 1px solid black; /* Adds borders to table cells */
    padding: 10px; /* Adds spacing inside the cells */
    text-align: left; /* Aligns text to the left */
}

.patienttest {
    background: linear-gradient(106deg, #5889BD 0.82%, #99C6DB 101.41%);
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}


.terms{
    font-size: 25px;
    justify-content: center; /* Horizontally centers text */
    color: black;
    opacity: 0.70;
    width: 75vh;
    text-align: center !important;
    text-decoration: underline;
}

.herobutton{
    border-radius: 30px !important;
    border: none;
    background-color: #EEF2FE !important;
    color: #5889BD !important;
    text-align: center !important;
    font-family: Montserrat !important;
    font-size: .45em !important;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) !important;
    padding: 5px 10px !important;
    font-weight: 600 !important;
    width: 10vw !important;
    height: 5vh !important;
}

.herobuttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5vw;
    margin-top: 5vh;
}


h1 {
    padding-bottom: 10px;
}

.form-control-select {
    width: 200px; /* Adjust width to match input fields */
    height: 35px; /* Match input field height */
    border-radius: 23px !important; /* Same rounded style */
    text-align: center;
    background-color: white;
    border: 1px solid #D9D9D9;
    font-size: 18px;
    padding-left: 5px;
}

.herobutton{
    border-radius: 30px !important;
    border: none;
    background-color: #EEF2FE !important;
    color: #5889BD !important;
    text-align: center !important;
    font-family: Montserrat !important;
    font-size: .45em !important;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) !important;
    padding: 5px 10px !important;
    font-weight: 600 !important;
    width: 10vw !important;
    height: 5vh !important;
}

