@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.landingnav{
    width: 98.99vw;
    height: 8vh;
    background-color: #5889BD;
    display: flex;
    align-items: center;
}
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
h2{
    color: #FFF;
    font-family: "Montserrat", sans-serif;
    font-size: 3.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.97875rem;
    margin: 0;
    padding-left: 1vw;
    text-align: left;
}

.landinghero{
    background: linear-gradient(106deg, #5889BD 0.82%, #99C6DB 101.41%);
    height: 92vh;
    display: flex;
    flex-direction: row;
}

h3{
    margin: 0vh;
}

.herotext{
    width: 50vw;
    color: #FFF;
    font-family: Montserrat;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-content: center;
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: left;
}

.heroimage{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Pushes the image to the bottom */
    justify-content: flex-end;
}

.doctorherod{
    max-width: 40vw;
    max-height: 92vh;
    align-self: baseline;
}

.herobutton{
    border-radius: 30px !important;
    border: none;
    background-color: #EEF2FE !important;
    color: #5889BD !important;
    text-align: center !important;
    font-family: Montserrat !important;
    font-size: .45em !important;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) !important;
    padding: 5px 10px !important;
    font-weight: 600 !important;
    width: 10vw !important;
    height: 5vh !important;
}

.herobuttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5vw;
    margin-top: 5vh;
}

.aboutdiv{
    height: 50vh;
    width: 98.99vw;
    align-content: center;
}

h4{
    margin: 0px;
    padding-bottom: 2vh;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 5vh;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0vh;
}

hr{
    width: 7vw;
    height:2px;
    background-color: #5889BD;
    border-color: #5889BD;
    margin: auto;
    margin-top: .5vh;
}

.abouttext{
    color: #000;
    text-align: center;
    font-family: Merriweather;
    font-size: 2.4vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
    padding: 0px;
    width: 49vw;
    text-align: center;
    margin: auto;
    margin-top: 4vh;
}

.content{
    margin: auto;
}
.white{
    color: white;
}

.patienttest{
    padding-left: 0;
    width: 98.99vw;
    align-content: center;
    padding-top: 4vh;
    padding-bottom: 4vh;
    background: linear-gradient(106deg, #5889BD 0.82%, #99C6DB 101.41%);
}

.testcards{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 12vw;
    margin-top: 4vh;
}

.patientcard{
    display: flex;
    flex-direction: column;
    width: 35vh;
    align-items: center;
}

.patientimage{
    width: 29vh;
    padding-bottom: 2vh;
}

.patienttext{
    font-family: Merriweather;
    color: white;
    font-size: 1.7vh;
    text-align: center;
    line-height: 3vh;
    
}

.doctortest{
    width: 98.99vw;
    align-content: center;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

#black{
    color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    height: 100%;
  }


.patientbtn {
    align-self: flex-start;
    padding: 10px 20px;
    background-color: teal;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}


.doctorbtn {
    align-self: flex-start;
    padding: 10px 20px;
    background-color: pink;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.patientlogin {
    align-self: flex-start;
    padding: 10px 20px;
    background-color: pink;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.patientlgn {
    align-self: flex-start ;
    padding: 10px 20px !important;
    background-color: teal !important;
    color: white !important;
    border: none;
    border-radius: 4px !important;
    cursor: pointer;
    font-size: 16px !important;
}

.doctorlgn {
    align-self: flex-start ;
    padding: 10px 20px !important;
    background-color: pink !important;
    color: white !important;
    border: none;
    border-radius: 4px !important;
    cursor: pointer;
    font-size: 16px !important;
}
.custom-scroll::-webkit-scrollbar {
    width: 6px;
    margin-right: 30px;
  }
  
  .custom-scroll::-webkit-scrollbar-thumb {
    background-color: #5A8BBE;
    border-radius: 10px;
  }
  
  .custom-scroll::-webkit-scrollbar-track {
    background-color: rgba(90, 139, 190, 0.38);
    border-radius: 10px;
  }


  .input-field-pass {
    align-content: center;
    align-items: center;
    border-radius: 23px;
    height: 35px;
    padding: 0 10px;
    border: none;
    background-color: #D9D9D9;
    max-width: 200px; /* Adjust as needed */
    color: #000000 !important; /* Force black text color */
    font-weight: 500; /* Make text slightly bolder */
  }

  input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="password"] {
  font-size: 18px;
  height: 35px;
  border-radius: 23px;
  border: 1px solid #D9D9D9;
  padding: 0 10px;
  box-sizing: border-box;
  color: #000000 !important;
  font-weight: 500;
}